[Unit]
Description=Precached - Linux process monitor and pre-caching daemon
Documentation=man:precached(8) man:precached.conf(5)

[Service]
Environment=RUST_LOG=debug RUST_BACKTRACE=1
ExecStart=/usr/sbin/precached -f -c /etc/precached/precached.conf
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
StandardOutput=syslog
Restart=always
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
