[Unit]
Description=Delay timer for precached - prime all caches now
Documentation=man:precached(8) man:precachedctl(8) man:iotracectl(8) man:precached.conf(5)
Requisite=precached.service
After=graphical.target

[Timer]
OnActiveSec=10

[Install]
WantedBy=timers.target
