[Unit]
Description=Linux process monitor and pre-caching daemon
Documentation=man:precached(8) man:precachedctl(8) man:iotracectl(8) man:precached.conf(5)
Wants=multi-user.target
After=local-fs.target

[Service]
ExecStart=/usr/sbin/precached -c /etc/precached/precached.conf
ExecReload=/usr/sbin/precachedctl reload
ExecStop=/usr/sbin/precachedctl stop
PIDFile=/run/precached.pid
Type=forking
Restart=no
Nice=0
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitNOFILE=infinity
KillMode=mixed
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
