[Unit]
Description=Process monitor and pre-caching daemon

[Service]
ExecStart=/usr/sbin/precached -f -c /etc/precached/precached.conf
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
StandardOutput=syslog
Restart=always

[Install]
#WantedBy=local-fs.target
WantedBy=multi-user.target
