Source: precached
Section: admin
Priority: optional
Maintainer: X3n0m0rph59 <x3n0m0rph59@gmail.com>
Build-Depends: debhelper (>= 9.20160709),
	       cargo (>= 0.30),
		   rustc (>= 1.29),
		   libzmq3-dev (>= 4.2)
Depends: libzmq5 (>= 4.2)
Standards-Version: 4.1.2
Homepage: https://x3n0m0rph59.gitlab.io/precached/
Vcs-Git: https://gitlab.com/X3n0m0rph59/precached.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/precached.git

Package: precached
Architecture: amd64 i386 ppc64el arm64 armel armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Linux process monitor and pre-caching daemon
 Precached is written in Rust and utilizes the Linux Netlink connector interface
 to monitor the system for process events. It can act upon such events via
 multiple means. E.g. it is able to pre-fault pages into memory, to speed up
 loading of programs and increase the perceived overall 'snappiness' of the
 system. Additionally it supports offline prefetching of the most often used
 programs while the system is idle.
