[Unit]
Description=Linux process monitor and pre-caching daemon
Documentation=man:precached(8) man:precachedctl(8) man:iotracectl(8) man:precached.conf(5)
Wants=multi-user.target
After=local-fs.target

[Service]
ExecStart=/usr/sbin/precached -fc /etc/precached/precached.conf
ExecStartPost=/bin/sh -c 'umask 022; pgrep precached > /run/precached/precached.pid'
ExecReload=/usr/sbin/precachedctl reload
ExecStop=/usr/sbin/precachedctl stop
RuntimeDirectory=precached
RuntimeDirectoryMode=0750
PIDFile=/run/precached/precached.pid
Type=exec
Restart=no
Nice=0
IOSchedulingClass=idle
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitNOFILE=infinity
KillMode=mixed
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
