[Desktop Entry]
Version=0.1.0
Type=Application
Name=precached
Comment=precached - Linux process monitor and pre-caching daemon
NoDisplay=true
Exec=/usr/sbin/precached
Icon=precached
