[Desktop Entry]
Version=0.1.0
Type=Application
Name=precached - Transition Profile
Comment=Triggers a profile transition
Exec=/usr/bin/precached-trigger transition-profile
Icon=precached-trigger
Categories=System;
Terminal=false
StartupNotify=false
X-GNOME-Autostart-Phase=Application
